@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300&family=Atma:wght@500&family=Mina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300&family=Atma:wght@500&family=Hind+Siliguri:wght@500&family=Mina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300&family=Atma:wght@500&family=Baloo+Da+2&family=Hind+Siliguri:wght@500&family=Mina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Hind+Siliguri&family=Noto+Serif+Bengali:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #183153;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: black;
}
.container{
  width: 85%;
  margin: auto;
  display: flex;
}




/* HEADER */
header{}
nav{
  background: #0f2a4e;
  /* align-items: center; */
  /* background-color: red; */
  /* padding: 25px 0; */
}
a.nav_brand{
  display: inline-block;
  width: 20%;
  align-self: center;
}
a.nav_brand>img{
  width: 100%;
}
ul.nav_menu{
  width: 80%;
  text-align: right;
  align-self: center;
}
ul.nav_menu>li{
  display: inline-block;
  margin: 0 5px;
  padding: 5px 15px;
}
ul.nav_menu>li>a{
  font-size: 30px;
  color: white;
  /* font-family: 'Anek Bangla', sans-serif; */
  /* font-family: 'Alkatra', cursive; */
  /* font-family: 'Hind Siliguri', sans-serif; */
  /* font-family: 'Noto Serif Bengali', serif; */
  font-family: 'Baloo Da 2', cursive;

}





















/* HOME */
.home{
  /* border: 1px solid black; */
  margin-top: 25px;
}
.description_container{
  width: 45%;
  /* border: 1px solid black; */
  padding: 25px 0;
}
.home_short_title{
  margin-bottom: 5px;
  font-family: 'Baloo Da 2', cursive;
  color: white;
  opacity: 0.5;
  word-spacing: 7px;
}
.computer_icon{
  margin-right: 10px;
}
.home_main_title{
  font-size: 60px;
  font-family: 'Hind Siliguri', sans-serif;
  color: white;
}
.home_description{
  text-align: justify;
  line-height: 35px;
  word-spacing: 5px;
  margin: 25px 0;
  color: white;
  opacity: 0.5;
  font-family: 'Atma', cursive;
  letter-spacing: 1px;
}
.btn_container{
  margin: 40px 0 40px 0;
}
.hire_btn,.join_btn{
  padding: 10px 15px;
  border-radius: 7px;
  font-weight: 600;
  font-size: 20px;
  border: 1px solid white;
  color: white;
}
.hire_btn{
  font-family: sans-serif;
}
.join_btn{
  /* font-family: 'Baloo Da 2', cursive; */
  margin-left: 20px;
  /* padding: 5px 15px; */
}
.wave_money_icon,.book_icon{
  margin-right: 5px;
}
.banner_container{
  width: 55%;
  /* background-color: gray; */
  /* align-self: center; */
  /* border: 1px solid black; */
}
.banner_container>.img{
  background-color: gray;
  height: 425px;
  width: 680px;
  float: right;
  margin: 90px 0 0 0;
}
















/* COURSE */
.course_container{
  margin: 45px 0;
}
.course_type{
  /* border-bottom: 2px solid white; */
  margin-top: 55px;
  margin-bottom: 55px;
}
.course_container_title{
  text-align: center;
  color: white;
  font-size: 45px;
}
.course_container_short_title{
  text-align: center;
  color: white;
  font-size: 15px;
  opacity: 0.5;
  word-spacing: 10px;
  margin-top: 10px;
  white-space: nowrap;
}
.course_type>ul{
  overflow: auto;
  white-space: nowrap;
  border-bottom: 1px solid #0f2a4d;
}
.course_type>ul::-webkit-scrollbar {
  height: 0;
}
.course_type>ul>li:first-of-type{
  border-bottom: 2px solid #011025;
}
.course_type>ul>li{
  display: inline-block;
  color: #b7c0ca;
  /* font-family: 'Hind Siliguri', sans-serif; */
  font-family: 'Baloo Da 2', cursive;
  font-size: 15px;
  font-weight: 700;
  margin: 0 80px;
  padding: 5px 5px;
  word-spacing: 3px;
  letter-spacing: 1px;
}



















/* COURSE ITEM */
.courses{
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin-top: 60px; */
  margin-bottom: 100px;
}
.course_item{
  border-radius: 5px;
  border: 1px solid white;
  width: 425px;
}
.course_item_image{
  height: 235px;
  border-radius: 5px;
  background-color: gray;
}
.course_item_details{
  padding: 10px;
  background: #0f2a4e;
  border-radius: 5px;
}
.course_title{
  font-family: 'Hind Siliguri', sans-serif;
  color: white;
}
.course_overview{
  display: flex;
  justify-content: space-between;
}
.course_rating{
  display: flex;
}
.course_rating_icon_container{}
.solid_star_icon{
  color: white;
  opacity: 0.7;
}
.course_rating_number{
  font-family: 'Baloo Da 2', cursive;
  color: white;
  opacity: 0.7;
}
.course_student_number{
  font-family: 'Baloo Da 2', cursive;
  color: white;
  opacity: 0.7;
}
.course_price{}
.recorded_course_price{
  font-family: 'Baloo Da 2', cursive;
  color: white;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
}
.live_course_price{
  font-family: 'Baloo Da 2', cursive;
  color: white;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
}
.course_price_title{}
.course_price_item{}
.course_new_price{}
.course_old_price{
  text-decoration: line-through;
  margin-left: 7px;
}

































.faculty_container{}
.faculty_container_title{
  text-align: center;
  color: white;
  font-size: 45px;
}
.faculty_container_short_title{
  text-align: center;
  color: white;
  font-size: 15px;
  opacity: 0.5;
  word-spacing: 10px;
  margin-top: 10px;
  white-space: nowrap;
}


.faculty{
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: space-between;
}
.faculty_member{
  margin: 15px 0;
  width: 49%;
  display: flex;
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 25px;
  background-color: #0f2a4e;
}
.faculty_member_image_container{}
.faculty_member_image{
  height: 250px;
  width: 250px;
  background-color: gray;
  border-radius: 5px;
}
.faculty_member_details_container{
  padding-left: 20px;
}
.faculty_member_title{
  font-family: 'Hind Siliguri', sans-serif;
  color: white;
}
.faculty_member_short_title{
  font-family: 'Baloo Da 2', cursive;
  color: white;
  opacity: 0.9;
}
.faculty_member_description{
  /* display: none; */
  text-align: justify;
    line-height: 35px;
    word-spacing: 5px;
    /* margin: 25px 0; */
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Atma', cursive;
    letter-spacing: 1px;
}
.read_more{
  color: white;
  font-weight: bold;
}











.hire_freelancer{}
.hire_freelancer_container{
  margin-top: 60px;
  margin-bottom: 60px;
  align-items: center;
}
.hire_freelancer_details_container{
  width: 50%;
}
.hire_freelancer_btn{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 7px;
  font-weight: 600;
  font-size: 20px;
  border: 1px solid white;
  color: white;
}
.hire_freelancer_short_title{
  color: white;
  opacity: 0.5;
  font-size: 18px;
  margin: 15px 0 30px 0;
}
.hire_freelancer_vector_container{
  width: 50%;
}
.hire_freelancer_vector{
  height: 265px;
  width: 100%;
  background-color: gray;
  border-radius: 5px;
}















/* STUDENT REVIEW */
.student_review{
  margin: 45px 0;
}
.student_review_title{
  text-align: center;
  color: white;
  font-size: 45px;
}
.student_review_short_title{
  text-align: center;
  color: white;
  font-size: 15px;
  opacity: 0.5;
  word-spacing: 10px;
  margin-top: 10px;
  white-space: nowrap;
}
.review{
  margin-top: 50px;
}
.student_review_item{
  width: 445px;
  background-color: gray;
  border: 1px solid white;
  height: 230px;
  border-radius: 5px;
  display: inline-block;
  margin: 0 5px;
}
.student_review_slider_btn_container{
  text-align: center;
  margin-top: 50px;
}
.circle_icon{
  height: 15px;
  width: 15px;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 50%;
  transition: 0.5s;
}
.circle_icon:hover{
  background-color: gray;
}


















.instructor{}
.become_instructor{
  margin-top: 60px;
  margin-bottom: 60px;
  align-items: center;
}
.instructor_details_container{
  width: 50%;
  text-align: right;
}
.instructor_btn{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 7px;
  font-weight: 600;
  font-size: 20px;
  border: 1px solid white;
  color: white;
}
.instructor_short_title{
  color: white;
  opacity: 0.5;
  font-size: 18px;
  margin: 10px 0;
  font-family: 'Baloo Da 2', cursive;
}
.instructor_vector_container{
  width: 50%;
}
.instructor_vector{
  height: 265px;
  width: 100%;
  background-color: gray;
  border-radius: 5px;
}






















.faq{}
.faq_title{
  text-align: center;
  color: white;
  font-size: 45px;
}
.faq_short_title{
  text-align: center;
  color: white;
  font-size: 15px;
  opacity: 0.5;
  word-spacing: 10px;
  margin-top: 10px;
  white-space: nowrap;
}
.faq_container{
  margin-top: 60px;
  margin-bottom: 60px;
  justify-content: space-between;
}
.faq_vector_container{
  width: 50%;
}
.faq_vector{
  height: 420px;
  width: 625px;
  background-color: gray;
  border-radius: 5px;
}
.faq_item_container{
  width: 50%;
}
.faq_item:first-of-type{
  margin-top: 0px;
}
.faq_item:last-of-type{
  margin-bottom: 0px;
}
.faq_item{
  color: white;
  border: 1px solid white;
  padding: 5px 10px 5px 15px;
  border-radius: 5px;
  margin: 10px 0;
}
.faq_question{}
.faq_question>p{
  font-family: 'Atma', cursive;
  /* font-family: 'Hind Siliguri', sans-serif; */
  /* font-family: 'Baloo Da 2', cursive; */
  font-size: 25px;
}
.faq_answer{
  display: none;
}
.faq_answer>p{}
.view_all_faq{
  display: inline-block;
  margin-top: 10px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
}


































/* FOOTER */
footer{
  background-color: #0f2a4e;
}
.footer{
  margin-top: 60px!important;
}
.footer_item{}
.about{
  width: 26%;
  padding: 15px 20px;
  padding-left: 0;
}
.about>img{
  width: 100%;
}
.about>p{
  color: #97999d;
  text-align: justify;
  font-size: 20px;
  word-spacing: 5px;
  margin: 20px 0;
  line-height: 32px;
}
.populer_courses{
  width: 33%;
  padding: 15px 20px;
}
.populer_courses>h1{
  color: white;
  font-size: 45px;
  font-family: 'Hind Siliguri', sans-serif;
}
.populer_courses>ul{
  margin-top: 30px;
}
.populer_courses>ul>li{
  margin: 15px 0;
}
.populer_courses>ul>li>a{
  color: #97999d;
  font-size: 18px;
  font-family: 'Baloo Da 2', cursive;
}
.quick_links{
  width: 21%;
  padding: 15px 20px;
}
.quick_links>h1{
  font-size: 45px;
  color: white;
  font-family: 'Hind Siliguri', sans-serif;
}
.quick_links>ul{
  margin-top: 30px;
}
.quick_links>ul>li{
  margin: 10px 0;
}
.quick_links>ul>li>a{
  font-size: 18px;
  color: #97999d;
  font-family: 'Baloo Da 2', cursive;
}
.others{
  width: 20%;
  padding: 15px 20px;
}
.others>h1{
  font-size: 45px;
  color: white;
  font-family: 'Hind Siliguri', sans-serif;
}
.others>ul{
  margin-top: 30px;
}
.others>ul>li{
  margin: 10px 0;
}
.others>ul>li>a{
  font-size: 18px;
  color: #97999d;
  font-family: 'Baloo Da 2', cursive;

}