@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300&family=Atma:wght@500&family=Mina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300&family=Atma:wght@500&family=Hind+Siliguri:wght@500&family=Mina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300&family=Atma:wght@500&family=Baloo+Da+2&family=Hind+Siliguri:wght@500&family=Mina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Hind+Siliguri&family=Noto+Serif+Bengali:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #183153;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: black;
}
.container{
  width: 85%;
  margin: auto;
  display: flex;
}




/* HEADER */
header{}
nav{
  /* align-items: center; */
  /* background-color: red; */
  /* padding: 25px 0; */
}
a.nav_brand{
  display: inline-block;
  width: 20%;
}
a.nav_brand>img{
  width: 100%;
}
ul.nav_menu{
  width: 80%;
  text-align: right;
}
ul.nav_menu>li{
  display: inline-block;
  margin: 0 5px;
  padding: 5px 15px;
}
ul.nav_menu>li>a{
  font-size: 30px;
  color: white;
  /* font-family: 'Anek Bangla', sans-serif; */
  /* font-family: 'Alkatra', cursive; */
  /* font-family: 'Hind Siliguri', sans-serif; */
  /* font-family: 'Noto Serif Bengali', serif; */
  font-family: 'Baloo Da 2', cursive;

}











.find_us{
  padding: 65px 0;
}
.find_us_container{
  /* align-items: center; */
}
.social_links_container{
  width: 50%;
}
.social_links_title{
  color: white;
  font-size: 45px;
  font-family: 'Baloo Da 2';
}
.social_links_icon_container{
  margin-top: 45px;
}
.social_link_icon{
  background-color: white;
  padding: 20px 20px;
  display: inline-block;
  border-radius: 5px;
  margin: 0 15px;
}
.social_link_icon:first-of-type{
  margin-left: 0px;
}
.social_link_icon_item{
  color: #0f2a4e;
  font-size: 40px;
}
.address{
  width: 50%;
}
.address_title{
  color: white;
  font-size: 45px;
  font-family: 'Baloo Da 2';
}
.address_container{
  display: flex;
  justify-content: space-between;
}
.physical_address{
  width: 30%;
}
.mail_address{
  width: 38%;
}
.mobile_address{
  width: 30%;
}
.address_item{
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  color: rgba(255, 255, 255, 0.5);
}
.physical_address{}
.mail_address{}
.mobile_address{}
.address_item_title{}
.address_icon{
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);;
  height: 50px;
  width: 50px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  margin: 20px 0;
}
.address_icon_item{
  color: #0f2a4e;
  font-size: 25px;
}
.address_details{}






















.send_message{
  padding: 65px 0;
}
.send_message_title{
  font-family: 'Baloo Da 2';
  font-size: 50px;
  color: white;
  text-align: center;
  margin-bottom: 25px;
}
.send_message>form{}
.user_details{
  width: 50%;
  padding-right: 20px;
}
.user_details>input{}
::placeholder{}
.user_details>input[type='text']{
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 2px 6px;
  font-size: 25px;
}
.user_details>input[type='email']{
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 20px 0;
  padding: 2px 6px;
  font-size: 25px;
}
.user_details>input[type='number']{
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 20px;
  padding: 2px 6px;
  font-size: 25px;
}
.user_details>input[type='submit']{
  display: block;
  border-radius: 5px;
  background: white;
  border: 2px solid #061931;
  outline: none;
  color: #061931;
  padding: 2px 20px;
  font-size: 25px;
  font-family: cursive;
  margin-top: 40px;
}
.user_message{
  width: 50%;
}
.user_message>textarea{
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  border-radius: 5px;
  height: 215px;
  padding: 10px 14px;
  text-align: justify;
  line-height: 25px;
  word-spacing: 5px;
  font-family: sans-serif;
}
.user_message>textarea::-webkit-scrollbar {
  width: 0;
}










































/* FOOTER */
footer{
  background-color: #0f2a4e;
}
.footer{
  /* margin-top: 60px!important; */
}
.footer_item{}
.about{
  width: 26%;
  padding: 15px 20px;
  padding-left: 0;
}
.about>img{
  width: 100%;
}
.about>p{
  color: #97999d;
  text-align: justify;
  font-size: 20px;
  word-spacing: 5px;
  margin: 20px 0;
  line-height: 32px;
}
.populer_courses{
  width: 33%;
  padding: 15px 20px;
}
.populer_courses>h1{
  color: white;
  font-size: 45px;
  font-family: 'Hind Siliguri', sans-serif;
}
.populer_courses>ul{
  margin-top: 30px;
}
.populer_courses>ul>li{
  margin: 15px 0;
}
.populer_courses>ul>li>a{
  color: #97999d;
  font-size: 18px;
  font-family: 'Baloo Da 2', cursive;
}
.quick_links{
  width: 21%;
  padding: 15px 20px;
}
.quick_links>h1{
  font-size: 45px;
  color: white;
  font-family: 'Hind Siliguri', sans-serif;
}
.quick_links>ul{
  margin-top: 30px;
}
.quick_links>ul>li{
  margin: 10px 0;
}
.quick_links>ul>li>a{
  font-size: 18px;
  color: #97999d;
  font-family: 'Baloo Da 2', cursive;
}
.others{
  width: 20%;
  padding: 15px 20px;
}
.others>h1{
  font-size: 45px;
  color: white;
  font-family: 'Hind Siliguri', sans-serif;
}
.others>ul{
  margin-top: 30px;
}
.others>ul>li{
  margin: 10px 0;
}
.others>ul>li>a{
  font-size: 18px;
  color: #97999d;
  font-family: 'Baloo Da 2', cursive;

}